<form [formGroup]="form" (ngSubmit)="formSubmited()">
  <div class="row mt-3">
    <div class="col-12 col-sm-6">
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Full name</mat-label>
        <input matInput formControlName="name" required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>{{ getErrorMessage('name') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" required>
        <mat-icon matSuffix>smartphone</mat-icon>
        <mat-error>{{ getErrorMessage('phone') }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-6">
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
      <mat-form-field appearance="legacy" class="w-100">
        <mat-select formControlName="profession_id">
          <mat-option>-- nenhum --</mat-option>
          <mat-option *ngFor="let profession of professions$ | async" [value]="profession.id">
            {{profession.name}}
          </mat-option>
        </mat-select>
        <mat-label> Profession</mat-label>
        <mat-error>{{ getErrorMessage('profession_id') }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="button-row d-flex  justify-content-end mt-4">
    <button type="reset" id="resetBtn" mat-raised-button color="warn" class="rounded-pill mx-2 btn btn-sm mb-0 text-white">
      Clean
      <mat-icon aria-hidden="false">clear</mat-icon>
    </button>
    <button type="submit" mat-raised-button class="rounded-pill btn btn-sm btn-success mb-0 text-white">
      Save
      <mat-icon aria-hidden="false">check</mat-icon>
    </button>
  </div>
</form>
