<div class="card mb-3">
  <div class="row g-0 m-2">
    <div class="col-3 d-flex">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        class=" perosn-img img-fluid rounded-start mx-auto_ _my-auto _m-2 border border-5 border-blue-theme"
        alt="person-img">
    </div>
    <div class="col-9 d-flex">
      <div class="card-body text-uppercase my-auto mb-2">
        <div class="card-text">
          <p class="fs-6_ fw-500">name: ricardo fagner</p>
          <p class="fs-6_ fw-500">phone: +55 43 999999</p>
          <p class="fs-6_ fw-500">email: email: ricardo.fagmer@biosistemico.com.br</p>
          <p class="fs-6_ fw-500">profession: softeare engineer</p>
        </div>

        <div class="d-flex justify-content-end">
          <button mat-raised-button routerLink='/edit' class="btn btn-sm bg-blue-theme mx-2 mt-4 mb-0 py-0 text-white">
            Edit
            <mat-icon aria-hidden="false">edit</mat-icon>
          </button>
          <button mat-raised-button routerLink="/delete" color="warn" class="btn btn-sm mt-4 mb-0 py-0 text-white">
            Delete
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="card-body"> -->
<!-- <div class="card mb-3">
    <div class="row g-0">
      <div class="col-4 d-flex">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          class=" perosn-img img-fluid rounded-start mx-auto my-auto _m-2 border border-5 border-blue-theme"
          alt="person-img">
      </div>
      <div class="col- d-flex">
        <div class="card-body text-uppercase my-auto mb-2">
          <mat-list role="list">
            <mat-list-item role="listitem">name: ricardo fagner</mat-list-item>
            <mat-list-item role="listitem">phone: +55 43 999999</mat-list-item>
            <mat-list-item role="listitem">email: ricardo.fagmer@biosistemico.com.br</mat-list-item>
            <mat-list-item role="listitem">profession: softeare engineer</mat-list-item>
          </mat-list>

          <div class="d-flex">
            <button mat-raised-button routerLink="show"
              class="rounded-pill btn btn-sm bg-blue-theme ms-auto mt-lg-5 mt-md-2 mt-sm-0 mb-0 py-0 text-white _position-md-absolute bottom-0_ _end-0">
              <small>READ MORE</small>
              <mat-icon aria-hidden="false">keyboard_double_arrow_right</mat-icon>
            </button>
            <button mat-raised-button routerLink="show"
              class="rounded-pill btn btn-sm bg-blue-theme ms-auto mt-5 mt-md-2 mt-sm-0 mb-0 py-0 text-white _position-md-absolute bottom-0_ _end-0">
              <small>READ MORE</small>
              <mat-icon aria-hidden="false">keyboard_double_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- </div> -->
